@value v-padding-inline, v-border-gray, v-border-radius from "../values.module.css";

.form input {
  display: inline-block;
  margin: 0;
  padding: v-padding-inline;
  border: 1px solid v-border-gray;
  border-radius: v-border-radius;
  width: 100%;
  box-sizing: border-box;
}

.form label {
  display: flex;
  align-items: center;
  gap: v-padding-inline;
}

.form label input {
  flex-grow: 1;
  width: 0;
}
