@value v-black, v-background-gray, v-padding-inline, v-padding-block, v-font-size-3, v-border-gray, v-border-radius from "../values.module.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
}

.navbar {
  background: v-black;
  color: v-background-gray;
  padding: v-padding-block;
}

.title {
  font-weight: 700;
  font-size: v-font-size-3;
}

.title,
.link,
.dropdownButton {
  padding: v-padding-inline;
}

.dropdownButton {
  display: inline-block;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: v-black;
  gap: v-padding-block;
  align-items: center;
  flex-direction: column;
  padding: v-padding-block;
}

.dropdownContainer:hover .dropdown,
.dropdown:hover {
  display: flex;
}

.links,
.navbar {
  display: flex;
  gap: v-padding-block;
  align-items: center;
}

.links {
  margin-left: auto;
  margin-right: auto;
}

.link {
  cursor: pointer;
}

.main {
  flex-grow: 1;
  height: 0;
}
