@value v-border-gray, v-white, v-padding-inline, v-background-light-gray from "../values.module.css";

.table {
  width: 100%;
  border-collapse: collapse;
}

.head {
  border-top: 1px solid v-border-gray;
  border-bottom: 2px solid v-border-gray;
}

.table th,
.table td {
  padding: v-padding-inline;
}

.table tr:nth-child(even) {
  background-color: v-background-light-gray;
}

.table tr:nth-child(odd) {
  background-color: v-white;
}
