@value v-font-size-3: 1.17em;
@value v-font-size-2: 1.5em;
@value v-font-size-1: 2em;
@value m-medium: (max-width: 700px);
@value v-border-radius: 0.4rem;
@value v-padding-inline: 0.6rem;
@value v-padding-block: 0.8rem;
@value v-background-light-gray: rgb(246, 246, 246);
@value v-border-gray: rgb(204, 204, 204);
@value v-background-gray: rgb(238, 238, 238);
@value v-background-gray-hover: rgb(214, 214, 214);
@value v-background-gray-transparent: rgba(238, 238, 238, 0.1);
@value v-red: rgb(238, 68, 68);
@value v-red-hover: rgb(214, 61, 61);
@value v-red-transparent: rgba(238, 68, 68, 0.1);
@value v-white: rgb(255, 255, 255);
@value v-black: rgb(34, 34, 34);
@value v-text-gray: rgb(68, 68, 68);
@value v-margin-section: 4.6rem;
@value v-blue: rgb(51, 136, 221);
@value v-blue-hover: rgb(46, 122, 199);
@value v-yellow: rgb(238, 153, 51);
@value v-yellow-transparent: rgba(238, 153, 51, 0.1);

input,
button,
select {
  width: auto;
  font: inherit;
}

input,
select {
  background: v-white;
}

:global(.header) {
  margin-top: 0;
}

:global(.headerSub) {
  color: v-text-gray;
  font-weight: 200;
  font-size: v-font-size-3;
}

:global(.section) {
  margin-bottom: v-margin-section;
}

:global(.section):last-child {
  margin-bottom: 0;
}

.button {
  padding: v-padding-inline;
  border-radius: v-border-radius;
  transition: background 0.15s;
}

.form {
  display: flex;
}

.form * {
  display: inline-block;
  margin: 0;
  padding: v-padding-inline;
  border-top: 1px solid v-border-gray;
  border-right: 1px solid v-border-gray;
  border-bottom: 1px solid v-border-gray;
  border-left: none;
}

.form :first-child {
  border-left: 1px solid v-border-gray;
  border-top-left-radius: v-border-radius;
  border-bottom-left-radius: v-border-radius;
}

.form :last-child {
  border-top-right-radius: v-border-radius;
  border-bottom-right-radius: v-border-radius;
}

.form input,
.form select {
  flex-grow: 1;
  width: 0;
}

.form label,
.form button,
.form span {
  background: v-background-gray;
}

.form button {
  transition: background 0.15s;
}

.form button:hover {
  background: v-background-gray-hover;
}

.tableButton {
  composes: button;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: v-white;
  border: none;
}

.tableButtonDelete {
  composes: tableButton;
  background: v-red;
}

.tableButtonDelete:hover {
  background: v-red-hover;
}

.tableButtonPreview {
  composes: tableButton;
  background: v-blue;
}

.tableButtonPreview:hover {
  background: v-blue-hover;
}

.modal {
  position: fixed;
  top: 50%;
  border: 1px solid v-border-gray;
  border-radius: v-border-radius;
  transform: translate(0, -50%);
}
